<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="LysMotivasyonApp.LysMotivasyonApp" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:targetSdkVersion="24" android:minSdkVersion="24" />
	<permission android:name="LysMotivasyonApp.LysMotivasyonApp.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="LysMotivasyonApp.LysMotivasyonApp.permission.C2D_MESSAGE" />
	<application android:label="LysMotivasyonApp">
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="LysMotivasyonApp.LysMotivasyonApp" />
			</intent-filter>
		</receiver>
	</application>
</manifest>